.section{
  background:  linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)),url("../img/pexels-photo-1000366.jpeg");
}

.about-text{
  margin-top: 7rem ;
  margin-bottom: 4rem;
  font-family: 'Poiret One', cursive;
  font-size: 6rem;
display: inline-block;
  border-bottom:  2px #fd9644 solid;
}