.facts-text{
  margin-top: 3rem ;
  margin-bottom: 4rem;
  font-family: 'Poiret One', cursive;
  font-size: 6rem;
  display: inline-block;
  border-bottom:  2px #fd9644 solid;
}

.fact-bg{
background:#5d4037;
  padding: 2rem 0;

}

.clients-text{
  margin-top: 3rem ;
  margin-bottom: 4rem;
  font-family: 'Poiret One', cursive;
  font-size: 6rem;
  display: inline-block;
  border-bottom:  2px #fd9644 solid;
}

.dir{
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}

.director{
  margin-top: 3rem ;
  margin-bottom: 4rem;
}

.message{
  font-family: 'Kalam', cursive;
  font-size: 1.2rem;

}

.footer{

}