header{
  background:linear-gradient(to right,rgba(0,0,0,.6),rgba(0,0,0,.3)), url("../img/1.jpg");
  background-size: auto;
  background-position: top;
  height: 100vh;
  width: 100%;
  position: relative;
}

.text-box{

  position: absolute;
  left: 50%;
  top:40%;
  transform: translate(-50%,-50%);


}
//heADER 1....
.header1__text{
  font-size: 8rem;
  letter-spacing: 38px;
  font-family: 'Amiri', serif;
  animation-name: moveInLeft;
  animation-duration: 3s;
}

@keyframes moveInLeft {
0%{
  opacity: 0;
  transform: translateX(-100px);
}
  80%{
    opacity: .9;
    transform: translateX(20px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 780px) {
  .header1__text{
    font-size: 4rem;
    letter-spacing: 20px;
  }

  .header2__text{
    font-size: 1px;
    letter-spacing: 1px;
  }
}

@media (max-width: 779px)
{
  header{
    height: 70vh;
  }
}


.header2__text{
  font-size: 6rem;
  letter-spacing: 5px;
  font-family: 'Great Vibes', cursive;
  animation-name: moveInRight;
  animation-duration: 3s;
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(100px);

  }
  80%{
    opacity: .9;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}