nav{
  position: fixed;

  padding-left: 1rem;
}

li:hover{
  background-color: #ffc107;
}

.brand-logo:hover{
  background-color: #ffb300;
}

.res-list:hover{
  background-color: white;
}

.brand-logo{
  padding: 0 5rem;
}

