.port-text{
  margin-top: 7rem ;
  margin-bottom: 4rem;
  font-family: 'Poiret One', cursive;
  font-size: 6rem;
  display: inline-block;
  border-bottom:  2px #fd9644 solid;
}

.video1{
  margin: 5rem;
}